.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.pixeon-navbar-brand > img {
  margin-top: -5px;
}

.pixeon-blue {
  color: #fff !important;
  background-color: #AFDEEF !important;
}

.btn-pixeon-blue:hover {
  color: #fff !important;
  background-color: #5DBBDF !important;
}

.pixeon-darkblue {
  color: #fff !important;
  background-color: #193967 !important;
}

.btn-pixeon-darkblue:hover {
  color: #fff !important;
  background-color: #196EA6 !important;
}

.pixeon-green {
  color: #fff !important;
  background-color: #6BB38F !important;
}

.btn-pixeon-green:hover {
  color: #fff !important;
  background-color: #458766 !important;
}

.limit-text {
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pixeon-nav {
  font-size: 18px;
}

.pixeon-profile-picture {
  width:40px;
  height:40px;
  display: inline;
}

.inline {
  display: inline !important;
}

.keep-margin {
  margin-right: 15px;
}
