<div class="bs-example" data-example-id="navbar-form">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header roboto">
        <a class="navbar-brand pixeon-navbar-brand  pixeon-darkblue keep-margin">
          <img alt="User image" src="./favicon.ico" class="inline"/>
          <span class="list-group-item-text hidden-xs">Cliente Chat Pixeon</span>
        </a>

        <ul class="navbar-brand pixeon-navbar-brand pixeon-green">
          <img alt="User image" ng-src="{{user.picture || './favicon.ico'}}" class="img-circle inline"/>
          <span class="list-group-item-text hidden-xs">{{user.name}}</span>
        </ul>

        <ul class="navbar-brand pixeon-navbar-brand  pixeon-green navbar-right">
          <button type="submit" class="btn btn-default  pixeon-green" ng-click="leaveChat()">
            <span class="hidden-xs">Sair do chat</span>
            <span class="glyphicon glyphicon-log-out"/>
          </button>
        </ul>
      </div>

    </div>
  </nav>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user"/>
        Usuários
      </div>
      <div id="user-list">
        <div class="list-group-item" ng-repeat="item in viewers | orderBy: 'name'">
          <img alt="User image" ng-src="{{item.picture}}" class="img-circle pixeon-profile-picture" />
          <span class="list-group-item-text">{{item.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-comment"/>
        Mensagens
      </div>
      <textarea class="form-control" rows="15" ng-disable='true' ng-model='messageLog' scroll-glue></textarea>
      <div class="panel-footer">

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Mensagem" ng-model="message" required ng-maxlength="10"
                 ng-trim="true" ng-minlength="1">
          <span class="input-group-btn">
            <button class="btn btn-default pixeon-green" type="button" ng-click="sendMessage(message)">
              <span class="hidden-sm hidden-xs">Enviar</span>
              <span class="glyphicon glyphicon-send"/>
            </button>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>
