<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-left list-group-item pixeon-darkblue pixeon-nav">
          <img alt="User image" src="./favicon.ico"/>
          <span class="list-group-item-text">Cliente Chat Pixeon</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!isAuthenticated()">
  <button class="btn btn-block btn-google-plus" ng-click="authenticate('google')">
    <span class="ion-social-googleplus"></span>Faça seu login
  </button>
</div>
<div ng-if="isAuthenticated()">
  <button class="btn btn-block pixeon-green btn-pixeon-green" ng-click="joinChat()">
    Entre no Chat
    <span class="glyphicon glyphicon-log-in"/>
  </button>
  <button class="btn btn-block btn-google-plus" ng-click="logout()">
    <span class="ion-social-googleplus" />Desconectar
  </button>
</div>
